body {
  background-color: black;
}

.line {
  position: absolute;
  background-color: white;
}
.horizon {
  width: 100%;
  height: 1px;
  top: 50%;
}

.vertical {
  height: 100%;
  width: 1px;
  left: 50%; 
}